@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Raleway";
}

body{
    background-image:url(img2.jpg);
    background-size: cover;
    background-position: 200px;
    padding-bottom:50px;
}

header{
    background-color: #fff;
    height: 120px;
    display:grid;
    grid-template-columns: 1fr 3fr;
    font-family: "Raleway";
}

.logo{
    display:flex;
    justify-content: center;
    align-items: center;
}

.uru{
    background-color:#1C2833;
    color: #fff;
    border-radius: 25px;
    padding-left:10px;
    padding-right:10px;
    user-select: none;
    margin:2px;
}

header ul{
    display:flex;
    justify-content:flex-end;
    align-items: center;
    list-style: none;
    margin-right: 20px;
}

header ul li{
    margin-right: 20px;
}

.contenedor{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.texto{
    width:500px;
    text-align: center;
    color:#fff;
}

.subtexto{
    color:#fff;
    text-align: center;
    width:700px;
    font-size: 14px;
}

.button{
    margin-top: 20px;
    background-color: white;
    color: black;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration:none;
    display:flex;
    justify-content:center;
    align-items: center;
}

@media only screen and (max-width: 700px) {
    header{
        grid-template-columns: 1fr;

    }
    .texto{
        width:500px;
        text-align: center;
        color:#fff;
    }
    
    .subtexto{
        color:#fff;
        text-align: center;
        width:400px;
        font-size: 14px;
    }
    ul{
        display:flex;
        justify-content:center;
        align-items: center;
        list-style: none;
        margin-right: 20px;
    }
    
  }

  .contenedor2{
      width:100%;
      margin-top:50px;
      overflow:hidden;
      background: white;
      width:100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      flex-grow: 1;
  }
.contenedor2 div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contenedor2 div:first-child{
    display: flex;
    justify-content: flex-start;
}
.texto2{
    margin-top:50px;
    text-align:center;
    
}
.subtexto2{
    text-align: center;
    font-size: 20px;
    width:350px;
}

.mockup{
    height:300px;
}

.servicios{
    margin-top: 50px;
    color:white;
    font-family:"Raleway";
}
.contenedor3{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.subcontenedor{
    display:flex;
    flex-direction: row;
    margin-top: 50px;
}

.card-margin{
    margin-left: 20px;
}

.logotipos{
    height: 20px;
}



footer{
    background-color: #fff;
}

footer{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}

footer h5{
    margin-top: 70px;
}
footer ul{
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content:center;
    padding:0;
    margin:0;
    width:100%;
}